html {
    font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
    font-family: font-family: 'Noto Sans TC', sans-serif;
}
h1 {
    text-align: center;
}
button {
    width: 200px;
    height: 30px;
    left: 100px;
}
input {
    width: 200px;
    height: 30px;
    left: 100px;
}
